* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: whitesmoke;
  }
  
  .track-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .woodwinds,
  .brass,
  .percussion,
  .other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 10vw;
    height: 24vh;
    background-color: var(--track-color);
    border-radius: 10px;
  }
  
  .woodwinds {
    background-color: #89c2d9;
  }
  .woodwinds img {
    max-width: 100%; /* image scale to fit the width of the track */
    max-height: 100px; /* image scale to fit the height of the track */
  }  
  .brass {
    background-color: #468faf;
  }
  .brass img {
    max-width: 100%; 
    max-height: 100px; 
  } 
  .percussion {
    background-color: #014f86;
  }
  .percussion img {
    max-width: 100%; 
    max-height: 100px; 
  } 
  .other {
    background-color: #012a4a;
  }
  .other img {
    max-width: 100%; 
    max-height: 100px; 
  } 
  
  :root {
    --track-color: #ccc;
  }
  